language_technology/** linguist-vendored
UNI/optimization_for_machine_learning/** linguist-vendored
UNI/object_detection_demo/** linguist-vendored
UNI/language_technology/lab_2.ipynb linguist-generated=true
